---
import { getCollection, getEntry, render } from 'astro:content';
import Layout from '../../components/layout.astro';

export async function getStaticPaths() {
	const blogs = await getCollection('blog');

	return blogs.map((blog) => {
		return { params: { id: blog.id } };
	});
}

const { id } = Astro.params;

if (!id) {
	return Astro.redirect('/404');
}

const blog = await getEntry('blog', id);

if (!blog) {
	return Astro.redirect('/404');
}

const { Content } = await render(blog);
---

<Layout>
	<article>
		<p>
			<a href="/">&larr; back</a>
		</p>
		<h1>{blog.data.title}</h1>

		<Content />
	</article>
</Layout>

<style>
	article {
		img {
			block-size: auto;
			border-radius: 3px;
			max-inline-size: 100%;
		}

		figcaption {
			color: #665;
			font-size: 0.875em;
		}
	}
</style>
